@charset:"utf-8";
/*search bar styles*/

body {
    background-color: #212121
}
.brand-logo {
    color:#ffd700
}
#search {
    radius: 15px;
    height: 8%;
    width: 65%
    padding: 5px;
}

.unica {
   font-family: 'Unica One', cursive;
}
.monoton {
   color:teal;
   font-family: 'Monoton', cursive;
}

a#CandidateButton {
   margins:auto;
}
