<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href={{url_for('static', filename="css/materialize.min.css")}}  media="screen,projection"/>
      <link type="text/css" href="/static/css/layout.css" rel="stylesheet" media="screen,projection"/>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

			
      <style>
        body, html {
          height: 100%;
          width: 100%;
        }
        /* Set the size of the div element that contains the map */
        #map {
          height: 100%;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
         }
      </style>

      <!--Let browser know website is optimized for mobile-->
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center grey darken-3">App</a>
        </div>
      </nav>
      <nav>
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="address-input" type="search" placeholder="What is your address?" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
      <div id="map"></div>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

      {% from "macros.html" import render_modal %}

      {{render_modal()}}

      <!-- Modal Structure 
      <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
          {% for i in range(11) %}
            {{ i }}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>
      -->

      <script type="text/javascript" src={{url_for('static', filename='js/materialize.min.js')}}></script>
      <script type="text/javascript" src={{url_for('static', filename='js/app.js')}}></script>
      <script src="https://cdn.jsdelivr.net/npm/places.js@1.11.0"></script>
			      <!--JavaScript at end of body for optimized loading-->
      <script>
        var placesAutocomplete = places({
          container: document.querySelector('#address-input')
        });
      </script>
      <script async defer
        type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnn9Rd4-wFyh2XLLjzuADup0WOmz3_C78&callback=initMap">
      </script>
    </body>
  </html>
